.gify-minature {
  border: 1px solid #e85a4f;
  padding: .2em;
  border-radius: .1em;
  display: flex;
  align-content: space-around;
  align-items: center;
  height: 120px;
  width: 120px;
  margin: .2em;
  img {
      max-height: 100px;
      max-width: 100px;
      margin: 0 auto;
  }
  p {
    margin-right: 10%;
  }
}
