@import "./pods.scss";

html,
body {
  background-color: #eae7dc;
  color: #e85a4f;
  font-size: 1.4em;
}

h1 {
  font-family: "Amatic SC", cursive;
  font-size: 2em;
}

p,
a,
span {
  font-size: 1.2em;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}
