@import "./pods.scss";

html,
body {
  background-color: #eae7dc;
  color: #e85a4f;
  font-size: 1.4em;
}

body {
  padding-bottom: 3em;
}

h1 {
  font-family: "Amatic SC", cursive;
  font-size: 2.6em;
  font-weight: 700;
}

p,
a,
span {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

button,
.button {
  display: inline-block;
  cursor: pointer;
  padding: 1em;
  font-size: 0.6em;
  line-height: 0.6em;
  background-color: #e85a4f;
  color: #eae7dc;
  border: 3px solid #e85a4f;
  border-radius: 2em;

  &:hover {
    background-color: #eae7dc;
    color: #e85a4f;
    transition: background-color 100ms linear, color 100ms linear;
  }

  &:disabled {
    color: #eae7dc;
    background: gray;
    border-color: gray;
    cursor: default;
  }
}
