.giphy-search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 2em;
  h1 {
    margin: .5em 0 .5em;
  }
  label {
    display: none;
  }
  input {
    text-transform: uppercase;
    padding: 0 0.5em;
    color: #e85a4f;
    font-family: 'Amatic SC', cursive;
    display: block;
    margin: 0 auto 0.5em;
    background-color: #eae7dc;
    border: 3px solid;
    border-radius: 2em;
    font-size: 2em;
    width: 80%;
  }
}
.list-header {
  margin-bottom: 0;
  font-size: 1.8em;
  text-align: center;
}
.search-button { 
  background: #17a5b0;
  border-color: #17a5b0;
  &:not(:disabled):hover {
    background-color: #eae7dc;
    color: #17a5b0;
  }
}