.giphy-search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  p {
    margin-bottom: 0.2em;
  }

  h1 {
    margin: 0.2em 0.2em 0;
  }

  input {
    padding: 0 0.3em;
    color: #e85a4f;
    font-family: "Amatic SC", cursive;
    background-color: #eae7dc;
    border: 3px solid;
    border-radius: 2em;
    font-size: 2em;
    width: 80%;
  }

  button {
    cursor: pointer;
    margin-top: 1em;
    font-size: 0.6em;
    padding: 1em;
    background-color: #e85a4f;
    color: #eae7dc;

    border: 3px solid;
    border-radius: 2em;

    &:hover {
      background-color: #eae7dc;
      color: #e85a4f;
      transition: background-color 100ms linear, color 100ms linear;
    }

    &:disabled {
      color: #eae7dc;
      background: gray;
      cursor: default;
    }
  }
}
