<section class="giphy-search-section">
  <h1>Welcome to MyGiphy</h1>
  <form submit="searchGiphy">
    {{input aria-label="search" name="search" value=this.searchQuery autocomplete="off" type="text" autofocus="true"}}
    <button class="search-button" {{action "searchGiphy"}} disabled={{submitDisabled}} aria-label="search for giphy">SEARCH</button>
    {{#link-to "index.favorites" class="button" }}favorites{{/link-to}}
  </form>
</section>
{{liquid-outlet}}