<section class="giphy-search-section">
    <h1>Welcome to MyGiphy</h1>
    <p>enter search term</p>
    <form submit="searchGifs">
        {{input value=this.searchQuery autocomplete="off" type="text" autofocus="true"}}
        <button disabled={{submitDisabled}} {{action "searchGifs"}}>SEARCH</button>
    </form>
</section>

{{outlet}}