<section class="giphy-search-section">
    <h1>Welcome to MyGiphy</h1>
    <p>Enter search term</p>
    {{input value=this.searchQuery type="text" autofocus="true" insert-newline='searchGifs'}}
    <button {{action "searchGifs"}}>SEARCH</button>
</section>

{{outlet}}