.giphy-details {
  max-width: 900px;
  margin: 1em auto;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  @media (max-width: 650px) {
    flex-direction: column;
  }

  .giphy-details-content {
    padding-right: 1em;
    font-size: 0.7em;
    line-height: 1.2em;

    .rating-panel {
      color: #e8b64f;
      display: inline;

      span {
        cursor: pointer;
      }
    }
  }
  .giphy-meta {
    font-weight: bold;
    width: 90px;
    display: inline-block;
  }
  p {
    margin: 0;
  }
  img {
    margin: 0 auto;
    max-height: 200px;
  }
}
