<section class="giphy-details">
    <div class="giphy-details-content">
        <p><span class="giphy-meta">title: </span>{{model.gif.titleNoEnding}}</p>
        <p><span class="giphy-meta">url: </span><a href={{model.gif.url}}>giphy link</a></p>
        <span class="giphy-meta">Rating: </span>
        {{star-rating fullClassNames="fa fa-star"
        emptyClassNames="fa fa-star-o" item=model.gif rating=userRating on-click=(action "clickStar")}}
    </div>
    <div>
        <img src={{model.gif.imageUrl}} alt="">
    </div>
</section>