<section class="giphy-list">
    {{#each modelArray as |gif|}}
        {{#link-to 'index.gif' gif.id class='giphy-minature'}}
            <img src={{gif.imageUrl}} alt="">
        {{/link-to}}
    {{/each}}
</section>