<section class="giphy-list">
  {{#each searchResults as |gif|}}
    {{#link-to "index.gif" gif.id class="giphy-minature"}}
      <img src={{gif.imageUrl}} alt="">
    {{/link-to}}
  {{/each}}
</section>