
<h1 class="list-header">search results</h1>
{{#liquid-bind model use="search-animation"}}
  {{#if currentlyLoading}}
    {{loading-component}}
  {{else}}
    {{giphy-minature searchResults=model}}
    {{pagination-section pagination=pagination previousPageButtonIsDisabled=previousPageButtonIsDisabled  previousPage=(action "previousPage") nextPage=(action "nextPage") nextPageButtonIsDisabled=nextPageButtonIsDisabled}}
  {{/if}}
{{/liquid-bind}}
