
{{#if currentlyLoading}}
  {{loading-component}}
{{else}}
  <h1 class="list-header">search results</h1>
  {{giphy-minature searchResults=model}}
  {{pagination-section pagination=pagination}}
{{/if}}
