<h1 class="list-header">search results</h1>
{{#liquid-bind model use="search-animation"}}
  {{giphy-minature searchResults=model}}
  {{pagination-section 
    pagination=pagination 
    previousPage=(action "previousPage")
    previousPageButtonIsDisabled=previousPageButtonIsDisabled
    nextPage=(action "nextPage") 
    nextPageButtonIsDisabled=nextPageButtonIsDisabled}}
{{/liquid-bind}}