<section class="giphy-search-results">
    {{#each model as |gif|}}
        {{#link-to 'index.gif' gif.id }}
            {{gif-link gif=gif}}
        {{/link-to}}
    {{/each}}

    {{pagination-section pagination=pagination}}
</section> 