
{{#if currentlyLoading}}
{{loading-component}}
{{else}}
<section class="giphy-search-results">
    {{#each model as |gif|}}
        {{#link-to 'index.gif' gif.id }}
            {{gif-link gif=gif}}
        {{/link-to}}
    {{/each}}
</section>
{{pagination-section pagination=pagination}}
{{/if}}
