h1 {
    padding: 0
}
.giphy-list {
  margin: 0 auto;
  max-width: 900px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: center;

  @media (max-width: 600px) {
    padding: 1em .1em;
  }
}

.sort {
  display: block;
}

.giphy-minature {
  display: flex;
  color: #e85a4f;
  border: 1px solid;
  padding: 0.2em;
  border-radius: 0.1em;
  align-content: space-around;
  align-items: center;
  height: 120px;
  width: 120px;
  margin: 0.2em;
  img {
    max-height: 80px;
    max-width: 100px;
    margin: 0 auto;
  }
}

.giphy-minature-rating {
  @extend .giphy-minature;
  position: relative;
}
